#headTag{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

#menu{
  
    margin-top: 34px;
    display: flex;
    flex-direction: column;
}

.main-div{
    position: relative; top: 150px;
    margin-right: 50px;
}