
#card-div{
     width: 332px;
    /*height: 442px; */ 
    margin-top: 28px;
     margin-right: 45px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding: 0px;
    border:none;
}

#card_body{
    margin-top: 16px;
    text-align: left;
}

.card_name{
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
color: #131414

}
.card_color{
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;
/* identical to box height */

text-transform: uppercase;
color: #4F4733;
}
.card_material{
    margin-left: 7px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #4F4733;
    text-transform: uppercase;
    
}
.words{
    word-spacing: 12px;
}
#card_price{
    
    font-family: Nunito Sans;
            color: #5A112B;
            font-weight: 400;
            font-size: 14px;
            line-height: 50px;
}


#image{
    background-color: black;
}


#id4{
    cursor: pointer;
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;
position: relative;
top: 220px;
/* identical to box height */

 text-align: center;

color: #FFFFFF; 
}

.blurDiv{
    visibility: hidden;
    position: absolute;
    height: 442px;
    width: 332px;

    left: 0px;
   
    background-color: rgba(0,0,0 , 0.5);
}