#no-bulltes{
    list-style-type: none;
}

#heading{
    font-family: 'Nunito Sans';
font-weight: 400;
font-style: normal;
font-size: 16px;
line-height: 22px;
margin-left: 30px;
}

.list{
    /* width: 48px;
height: 19px; */
cursor: pointer;
    font-family: 'Nunito Sans';
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 27px;
}

#scroll-div{
    margin-bottom: 20px;
    height: 138px;
overflow-y: scroll;
margin-top: 5px;

}

  
  /* Hide scrollbar for Chrome, Safari and Opera */
  #scroll-div::-webkit-scrollbar {
      display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #scroll-div {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .weight{
    font-weight: 700;
  }