.navbar-div{
            position: fixed;
            top: 86px;
            height: 60px;
            width: 100%;
            background-color: #ECECEC;
            box-shadow: none;
            z-index: 1;
          }
.Navbar-link{
   color: black;
    font-family: 'Nunito Sans';
margin-top: 3px;
margin-left: 6px;
margin-right: 6px;
font-weight: 400;
font-size: 14px;
line-height: 19px;
}

#ull{
    
}

.topbar{
    
    z-index: 2;
    width: 100%;
    position: fixed;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 86px;
    font-weight: 700;
    font-size: 18px;
    font-family: Nunito Sans;
    background-color:white
}

.cart-product{
    position: relative;
   
    right: 32px;
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;
/* identical to box height */

text-align: center;

color: #000000;
}

a:link{
   color: red;
   
}
#img1{
    position: relative;
   
    right: 35px;

}
.navBold{
    font-weight: 700;
}